.dashboard-container {
  display: flex;
  padding: 1rem;
}

/* Products Component Styling */
.products-container {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  justify-content: center !important;
  align-items: center;
  flex: 1;
}

/* Cart Component Styling */
.cart-container h1 {
  text-align: center;
}

.cart-summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.cart-summary-item {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.cart-summary-item-label {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.cart-summary-item-value {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.cart-buttons {
  display: flex;
  gap: 10px;
  margin: 1rem;
  width: 100%;
}

.cart-button {
  background-color: #000 !important;
  color: #fff;
  padding: 8px !important;
  font-size: 16px !important;
  text-transform: capitalize !important;
}

#checkout-button {
  background-color: #007aff !important;
}
